.namee{
    margin-top: 20px;
    margin-right: 180px;
    height: 25px;
    font-size: 18px;
}

.value{
    height: 25px;
    font-size: 18px;
}

.btn{
    margin-top: 30px;
    width: 100px;
    height: 50px;
    font-size: larger;
    background-color:rgb(116, 116, 176)    
    /* background-color: blue; */
}